body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: auto;
    text-align: center;
    height: 100%;
    width: auto;
    background-image: url("bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
}

header {
    color: white;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
}

.menu-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70px;
}

.menu-item:hover .icon {
    transition: 0.25s;
    width: 65px;
    margin-top: -7.5px;
}

.icon {
    width: 50px;
}

nav a:hover {
    color: #ff92ee !important;
}

nav a:visited {
    color: #8fdff9;
}

footer {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: auto;
    position: fixed;
    left: 0;
    bottom: 0;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
    background-color: rgb(48, 106, 77);
    width: 100%;
}

h1 {
    color: white;
    text-shadow: 2px 2px lightpink;
    font-size: 3rem;
    background-color: rgb(48, 106, 77);
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: -15px;
}

h2 {
    margin-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px lightpink;
}

p {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}

ul {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    padding: 0px;
    text-shadow: 1px 1px black;
}

#container-education {
    display: inline-flex;
    align-items: center;
}

#div-programmes {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}

#div-courses {
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: 1px 1px black;
}

#picture-profile-mobile {
    display: none;
}

#picture-profile {
    float: right;
    margin-right: 0%;
    margin-left: 2%;
    width: 180px;
    border: 3px solid black;
    border-radius: 3px;

}

#container-about {
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    width: 56%;
    max-width: 1300px;
}

#desc-mobile {
    display: none;
}

#desc {
    color: white;
    width: 100%;
    text-shadow: 1px 1px black;
}

#container-projects {
    margin: auto;
    align-items: center;
    width: 60%;
    min-width: 1080px;
}

.projects {
    margin: auto;
    display: inline-flex;
    padding-left: 7%;
    padding-right: 7%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
}

.text-projects {
    margin: auto;
    display: block;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 17%;
    margin-left: 17%;
    max-width: 1750px;
    text-shadow: 1px 1px black;
}

.text-projects-mobile {
    display: none;
}

.contact {
    margin: auto;
    display: inline-flex;
    padding-left: 7%;
    padding-right: 7%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 1px 1px black;
}

.text-contact {
    margin: auto;
    display: block;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 17%;
    margin-left: 17%;
    max-width: 1750px;
    text-shadow: 1px 1px black;
}

.text-contact-mobile {
    display: none;
}

iframe {
    margin-top: 25px;
    margin-bottom: 25px;
}

.contact-info {
    margin-bottom: 100px;
}

a {
    color: lightblue;
    text-shadow: 1px 1px black;
}

a:visited {
    color: lightblue;
}

a:hover {
    color: #ff92ee;
}

ul {
    list-style-type: none;
}

table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table caption {
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

form {
    text-align: center;
}

.bottom-form {
    margin: auto;
    text-align: center;
    max-width: 20%;
}

.input {
    opacity: 100%;
    padding: 7px;
    border-radius: 10px;
}

input {
    border-radius: 5px;
    max-width: 250px;
    height: 30px;
    padding-left: 10px;
}

#submit-text {
    font-weight: bold;
    margin-top: 5px;
    ;
    height: 35px;
    width: 180px
}

#submit-text:hover {
    transition: 0.25s;
    font-weight: bold;
    font-size: large;
    margin-top: 0px;
    margin-bottom: -5px;
    height: 45px;
    width: 195px;
}

input:hover {
    background-color: #ffd3f8;
}

label {
    font-weight: bold;
}

textarea {
    resize: none;
    width: 25%;
    min-width: 500px;
    border-radius: 10px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media all and (max-width: 1024px) and (orientation: portrait) {
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin: auto;
        text-align: center;
        height: 100%;
        width: auto;
        font-weight: bold;
        background-image: url("bg3.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    header {
        padding-top: 15px;
        padding-bottom: 15px;
        color: white;
        margin: 0px;
        text-align: center;
        align-items: center;
    }


    nav {
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        margin: auto;
        text-align: center;
        font-size: 25px;
        color: white;
    }

    nav a:hover {
        color: #ff92ee !important;
    }

    nav a:visited {
        color: #8fdff9;
    }

    #picture-profile-mobile {
        margin: auto;
        margin-top: 25px;
        display: block;
        width: 140px;
        border: 3px solid black;
        border-radius: 3px;
    }

    #picture-profile {
        display: none;
        min-width: 540px;
        margin: auto;
    }

    #desc-mobile {
        margin: auto;
        display: block;
        align-items: center;
        padding: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        max-width: 800px;
        text-shadow: 1px 1px black;
        text-align: justify;
    }

    #desc {
        display: none;
        color: white;
        width: 75%;
    }

    .projects {
        margin: auto;
        display: block;
        max-width: none;
        color: white;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        min-width: none;
        text-shadow: 1px 1px black;
    }

    .text-projects {
        margin: auto;
        display: none;
    }

    .text-contact {
        margin: auto;
        display: none;
    }

    .text-projects-mobile {
        display: block;
        padding: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: justify;

    }
        .text-contact-mobile {
        display: block;
        padding: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
        text-align: center;

    }

    footer {
        margin: auto;
        position: fixed;
        padding-top: 15px;
        padding-bottom: 15px;
        align-items: flex-end;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px lightpink;
        padding-top: 5px;
    }

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        color: white;
        text-shadow: 2px 2px lightpink;
    }

    #container-education {
        display: block;
        align-items: center;
    }

    #div-programmes {
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-shadow: 1px 1px black;
    }

    #div-courses {
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        text-shadow: 1px 1px black;
    }


    p {
        color: white;
        margin: auto;
        padding: 0px;
        text-shadow: 1px 1px black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    ul {
        color: white;
        text-shadow: 1px 1px black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-left: 15px;
        padding-right: 15px;

    }

    li {
        list-style: none;

    }

    a {
        color: lightblue;
    }

    a:visited {
        color: lightblue;
    }

    a:hover {
        color: #ff92ee;
    }

    form {
        text-align: center;
    }

    .bottom-form {
        width: 250px;
        margin: auto;
        min-width: 250px;
    }

    .input {
        opacity: 100%;
        padding: 7px;
        border-radius: 10px;
    }

    input {
        border-radius: 5px;
        max-width: 250px;
        height: 30px;
        padding-left: 10px;
    }

    #submit-text {
        font-weight: bold;
        height: 35px;
        width: 180px;
    }

    input:hover {
        background-color: #ffd3f8;
    }

    label {
        font-weight: bold;
    }

    textarea {
        resize: none;
        width: 25%;
        min-width: 250px;
        border-radius: 10px;
        padding: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}